@model WordModel

<style>
    #mainHead {
        background-color: rgb(252, 235, 86,0.6);
    }

    body {
        background-color: #fff;
        background-image:
            radial-gradient(rgb(0, 0, 0, 0.3) 2px, transparent 2px);
        background-size: 90px 90px;
    }

</style>

<div class="container mt-5">
    <h2 id="mainHead" class="p-2 rounded w-50">@Model.AnaBaşlık</h2>
    <div id="home-word">
        <div class="row p-4 rounded ">
            <div class="col-md-10">
                <p class="word-main-paragraph text-black">
                    @Html.Raw(Model.Açıklama)
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <div class="p-2">
                <p class="text-white p-2" id="date">@Model.DateTime.ToShortDateString()</p>
            </div>
        </div>
    </div>
</div>
