<div class="container">
    <div class="mt-2">
        <h1 class="bg-dark text-white rounded w-25 text-center p-2">Blog Ekleme</h1>
        <div class="border rounded bg-light p-3">
            <div class="row">
                <div class="col-md-4 mt-2">
                    <input type="text" name="" id="" class="form-control" placeholder="Başlık">
                    <input type="date" name="" id="" class="form-control mt-2">
                    <input type="file" name="" id="" class="form-control mt-2">
                    <select id="category" class="form-control mt-2">
                        <option value="">Kategori Seçiniz</option>
                        <option value="teknoloji">Teknoloji</option>
                        <option value="günlük">Günlük</option>
                        <option value="kişisel">Kişisel</option>
                        <option value="diğer">Diğer</option>
                    </select>
                </div>
                <div class="col-md-8 mt-2">
                    <textarea id="content" class="form-control" rows="30"
                        placeholder="Yazınızı buraya girin..."></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center mt-2">
                    <button class="btn btn-outline-success w-50">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>