@model WordModel

<div class="container">
    <div class="mt-2">
        <h1 class="bg-dark text-white rounded w-25 text-center p-2">Blog Ekleme</h1>
        <div class="border rounded bg-light p-3">
            <form asp-action="Index" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4 mt-2">
                        <input asp-for="AnaBaşlık" class="form-control" placeholder="Başlık" >
                        <span asp-validation-for="AnaBaşlık" class="text-danger"></span>

                        <input  asp-for="DateTime" class="form-control mt-2">

                        <input asp-for="Resim" class="form-control mt-2">

                        <select asp-for="Konu" class="form-control mt-2">
                            <option value="">Kategori Seçiniz</option>
                            <option value="teknoloji">Teknoloji</option>
                            <option value="günlük">Günlük</option>
                            <option value="kişisel">Kişisel</option>
                            <option value="diğer">Diğer</option>
                        </select>
                        <span asp-validation-for="Konu" class="text-danger"></span>
                    </div>
                    <div class="col-md-8 mt-2">
                        <textarea asp-for="Açıklama" class="form-control" rows="30"
                            placeholder="Yazınızı buraya girin..."></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center mt-2">
                        <button type="submit" class="btn btn-outline-success w-50">Kaydet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>