@model List<KonularModel>

<style>
    svg {
        width: 27px;
        height: 27px;
        flex-shrink: 0;
    }

    #Konular {
        background-size: 100vh;
        background-position: center;
        background-size: cover;
    }

</style>

<div class="mx-3 mt-4">
    <div class="row">
        @foreach (var result in Model)
        {
            <div class="col-md-3 mt-3">
                <div class="rounded rounded-4" style="background-image: url('@result.Resim'); height: 50vh;" id="Konular">
                    <h2 class="d-flex justify-content-center" style="color: rgb(29, 29, 29); padding-top: 200px;"><a href="">@result.Konu</a></h2>
                </div>
            </div>
        }
    @*<div class="row text-center">
        <div class="col-md-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                <circle cx="13.5" cy="13.5" r="13.5" fill="black" />
            </svg>
        </div>
        <div class="col-md-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                <circle cx="13.5" cy="13.5" r="13.5" fill="black" />
            </svg>
        </div>
        <div class="col-md-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                <circle cx="13.5" cy="13.5" r="13.5" fill="black" />
            </svg>
        </div>
    </div>*@
    </div>

</div>
