@model List<KonularModel>

<div class="mx-3 mt-4">
    <div class="row">
        @foreach (var result in Model)
        {
            <div class="col-md-3">
                <div class="rounded rounded-4" style="background-image: @result.Resim;" id="Konular">
                    <a class="text-center p-4" style="height: 110px; color: #b6b6b6;">@result.Konu</a>
                </div>
            </div>
        }
    </div>
</div>

