@model List<KonularModel>

<style>
    svg {
        width: 27px;
        height: 27px;
        flex-shrink: 0;
    }

    #Konular a {
        text-decoration: none;
        text-align: center;
    }

    .category-area {
        margin-bottom: 180px;
    }

</style>

<div class="mx-3 mt-4 category-area">
    <div class="row">
        @foreach (var result in Model)
        {
            <div class="col-md-3 mt-3">
                <div class="rounded rounded-4" id="Konular">
                    <h2 class="d-flex justify-content-center" style="color: rgb(29, 29, 29);"><a asp-controller="Konu" asp-action="CategoryDetails" asp-route-id="@result.Id" class="form-control pt-4 pb-4">@result.Konu</a></h2>
                </div>
            </div>
        }
    </div>
</div>
