<style>
    #Konular {
        background-color: black;
    }
</style>

@model List<KonularModel>

<div class="container mt-2">
    <div class="row">
        @foreach (var result in Model)
        {
            <div class="col-md-3">
                <div class="rounded rounded-4" id="Konular">
                    <h2 class="text-white text-center p-4" style="height: 110px;">@result.Konu</h2>
                </div>
            </div>
        }
    </div>
</div>


<script>

    var blackplace = Document.getElementById("Konular");

    addEventListener()


</script>
