@{
    Layout = "_LoginLayout";
}

<style>
    .login {
        background-color: rgb(219, 219, 219);
        border-radius: 15px;
        position: absolute;
        top: 200px;
        width: 1250px;
        height: 627px;
        flex-shrink: 0;
    }
</style>

<div class="container">
    <div class="login">

    </div>
</div>
