<div class="card" id="home-card-disagn">
    <div class="mx-5 my-5">
        <div class="card-heder">
            <div class="container">
                <h1 id="card-head">Blog-1</h1>
            </div>
        </div>
        <div class="card-body">
            <div class="card-image">
                <img src="~/img/image.jpg" alt="" class="rounded" width="1000">
            </div>
            <div class="card-text">
                <div class="card-text-head">
                    <h2 id="card-head" class="mt-2">Başlık</h2>
                    <p id="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, dolorem. Consequuntur itaque dicta
                        animi, quis aliquam dolorem accusamus, ea repellendus esse reiciendis asperiores at ab fugit
                        aspernatur ullam aut laudantium voluptates et harum aliquid possimus impedit, eveniet quisquam!
                        Libero nesciunt eum reiciendis nemo corporis dolore doloribus aliquam cupiditate, nulla,
                        blanditiis placeat quis ipsam rerum sed excepturi, ipsa omnis nam tempore odit. Quo ipsam eius
                        sequi maiores voluptatem ratione libero obcaecati distinctio atque. Magnam, expedita aut.
                        Delectus ut omnis necessitatibus expedita, vel, perferendis magnam doloremque inventore saepe at
                        fugiat, quisquam eum ea eligendi quaerat alias? Eum itaque nobis voluptas, quibusdam, veritatis
                        odit quasi sint, quod cumque incidunt aliquam et nisi natus debitis? Labore, earum?
                        Necessitatibus asperiores vitae error quaerat aliquam autem magni, minus veniam at ipsum
                        corrupti, minima atque pariatur maiores corporis aliquid repellendus similique inventore odit
                        nostrum fuga alias labore architecto fugiat. Minus iusto iste deleniti porro, voluptates
                        adipisci nihil odit, repellat dolore error consequuntur at quia nam dolor unde facilis tempora,
                        minima exercitationem laudantium earum! Tempore asperiores perferendis enim, id et distinctio
                        inventore dignissimos provident accusamus atque nisi temporibus voluptas excepturi quae
                        cupiditate similique consequuntur deserunt corporis illo commodi adipisci quas! Reprehenderit
                        iure obcaecati blanditiis rem fugiat nulla ullam culpa dolorem aut reiciendis consectetur vel
                        dolorum tempore, iusto quasi maiores impedit sit, nisi debitis quae! Sequi nobis ut pariatur
                        nemo illo quam! Cum, voluptatibus obcaecati. Sapiente laborum nobis officia neque nemo quam
                        optio, vel quos amet vero soluta accusantium itaque delectus et nam, commodi error tenetur eius
                        dolorem dolor! Eos quisquam nemo vero. Natus fuga laudantium provident error, asperiores, est
                        libero perferendis itaque iste, praesentium ad sequi dolorum dolorem facilis repellendus
                        excepturi ipsa. Molestiae error sequi similique dolorum! Ullam sint laudantium, aspernatur odit
                        aliquam laborum voluptatibus. Reiciendis aperiam id maxime impedit eum pariatur nam blanditiis
                        corporis. Neque nesciunt eum labore impedit nostrum vel tempora? Nostrum maiores, et labore
                        possimus reiciendis ea iure facilis, quia eligendi dolore debitis excepturi fugit esse
                        perferendis iusto, error quibusdam dolorem. Veniam vitae iure fugiat quo asperiores magnam, ut
                        cupiditate quis impedit, magni accusantium aliquid porro. Illo nemo iste magnam quis, quaerat
                        enim natus voluptas.</p>
                </div>
            </div>
        </div>
    </div>
</div>