@* <div id="_footer">
    <div class="topbar-head">
        <div class="row text-center p-4 d-flex justify-content-center" style="margin: 0px;">
            <div class="col-md-3">
                <label for="">İletişim</label>
                <div class="input-group">
                    <input type="email" name="" id="" placeholder="Email" class="form-control">
                    <button class="btn btn-success"><i class="fa-solid fa-paper-plane"></i></button> 
                </div>
            </div>
        </div>
    </div>
</div> *@

<footer class="footer mt-5 p-4 bg-light text-center ">
    <div id="_footer">
        <p>© 2025 Çınar Özgürgil | Tüm hakları saklıdır.</p>
        <div>
            <a href="https://github.com/HunterLion2" target="_blank">GitHub</a> |
            <a href="https://linkedin.com/in/çınar-özgürgil-38319a225" target="_blank">LinkedIn</a>
        </div>
        <div>
            <a href="/privacy">Gizlilik Politikası</a> |
            <a href="/about">Hakkımda</a>
            <div class="version d-flex justify-content-end">Version 1.1.0</div>
        </div>
    </div>
</footer>

<style>

</style>