<div class="container">
    <div class="my-3">
        <div class="row">
            <div class="col-md-4 mt-3">
                <i class="fa fa-copyright" aria-hidden="true" id="Name">2025 by Çınar Özgürgil</i>
            </div>
            <div class="col-md-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 114" fill="none" id="imza">
                    <path d="M1 86C116.333 63.1667 309.9 29 161.5 75" stroke="black"/>
                    <path d="M49 43.5C27.3333 79.8333 -5.69999 141.6 35.5 98C87 43.5 70.5 66 65 82C59.5 98 73 89 77 82C81 75 94 45 91.5 63.5C89 82 86 97 91.5 89.5C97 82 104 44.5 104.5 59C105 73.5 96.5 107.5 104.5 89.5M104.5 89.5C112.5 71.5 109 -18 131.5 9.99999C154 38 136 81 123 89.5C112.6 96.3 106.333 92.3333 104.5 89.5Z" stroke="black"/>
                    <path d="M120 2C120 0.954376 120 -0.823185 120 0.431564" stroke="black"/>
                    <path d="M127 2C127 0.954376 127 -0.823185 127 0.431564" stroke="black"/>
                </svg>
            </div>

        </div>
    </div>
</div>