<div id="_topbar">
    <div class="topbar-head">
        <div class="text-center p-4 d-flex justify-content-center" style="margin: 0px;">
            <div class="p-3 px-5"> 
                <p id="head-top"><a asp-controller="Home" asp-action="Index" id="top-link">Anasayfa</a></p>
            </div>
            <div class="p-3 px-5">
                <p id="head-top"><a asp-controller="About" asp-action="Index" id="top-link">Hakkımda</a></p>
            </div>
            <div class="p-3 px-5">
                <p id="head-top"><a asp-controller="Konu" asp-action="Index" id="top-link">Konular</a></p>
            </div>
            <div class="p-3 px-3">
                <a asp-controller="Login" asp-action="Index" id="top-link"><i class="fa-solid fa-circle-user fs-3"></i></a>
            </div>
        </div>
        
    </div>
</div>
