<div id="_topbar">
    <div class="topbar-head">
        <div class="row text-center p-4 d-flex justify-content-center" style="margin: 0px;">
            <div class="col-md-1"> 
                <p id="head-top"><a href="" id="top-link">Anasayfa</a></p>
            </div>
            <div class="col-md-1">
                <p id="head-top"><a href="" id="top-link">Hakkımda</a></p>
            </div>
            <div class="col-md-1">
                <p id="head-top"><a href="" id="top-link">Konular</a></p>
            </div>
        </div>
    </div>
</div>
