<div id="_topbar">
    <div class="topbar-head">
        <div class="d-flex text-center p-4 d-flex justify-content-center" style="margin: 0px;">
            <div class="p-3 px-5"> 
                <p id="head-top"><a asp-controller="Home" asp-action="Index" id="top-link">Anasayfa</a></p>
            </div>
            <div class="p-3 px-5">
                <p id="head-top"><a asp-controller="About" asp-action="Index" id="top-link">Hakkımda</a></p>
            </div>
            <div class="p-3 px-5">
                <p id="head-top"><a asp-controller="" id="top-link">Konular</a></p>
            </div>
            <div class="mt-2">
                <a asp-controller="CreateWord" asp-action="Index" class="btn btn-outline-light bg-dark" ><i class="fa-regular fa-plus " id="ekleme-butonu"></i></a>
            </div>
        </div>
        
    </div>
</div>
