<div class="container" id="topbar">
    <div class="mt-3">
        <div class="row">
            <div class="col-md-2">
               <svg xmlns="http://www.w3.org/2000/svg" width="47" height="49" viewBox="0 0 47 49" fill="none" id="accountbar">
                    <path d="M8.5241 40.2366C4.5593 36.5646 1.66567 31.1791 2.03113 23.5237C3.03004 2.59925 23.5076 1.57854 26.5043 2.08889C28.9017 2.49718 32.8307 4.30043 34.4956 5.15101C38.1582 6.85219 45.3837 13.6229 44.9841 27.0962C44.8134 32.8528 42.1445 37.1374 38.5979 40.2366M8.5241 40.2366C13.2289 44.5939 19.442 46.5384 23.5076 47C27.5124 46.4154 33.8437 44.391 38.5979 40.2366M8.5241 40.2366C9.0235 35.5162 12.7194 25.9735 23.5076 25.5652M23.5076 25.5652C34.2959 25.1569 38.0629 35.176 38.5979 40.2366M23.5076 25.5652C26.5044 25.5652 32.2981 23.9321 31.4989 17.3996C30.6998 10.867 25.8384 9.57415 23.5076 9.74427C20.8439 9.57415 15.5164 10.867 15.5164 17.3996C15.5164 23.9321 20.8439 25.5652 23.5076 25.5652Z" stroke="black" stroke-width="3"/>
                </svg>
            </div>
            <div class="col-md-3">
                <p id="topbar-sign">Giriş Yap</p>
            </div>
        </div>
    </div>
</div>