<style>
    .text {
        font-family: "Playwrite DK Loopet", cursive;
        font-size: 150px;
        color: #fff;
    }

    .letter {
        display: inline-block;
        opacity: 0;
    }

    #home {
        height: 90vh;
    }
</style>

<div id="home">
    <h1 class=" d-flex align-items-center justify-content-center text"
        style="height: 80vh; font-size: 65px; color: rgba(201, 201, 201, 0.8); ">Hello</h1>
</div>


<script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"></script>
<script>
    // Harfleri <span> ile sar
    const text = document.querySelector('.text');
    text.innerHTML = text.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    // Anime.js ile animasyon
    anime.timeline({ loop: false })
        .add({
            targets: '.letter',
            opacity: [0, 1],
            scale: [0.5, 1],
            easing: "easeOutExpo",
            duration: 800,
            delay: (el, i) => 200 * i // Her harf için 200ms gecikme
        });
</script>

<div class="mt-5">
    <div class="container">
        <h2>Son Yazılar</h2>
        <hr>
        <div class="mt-2">
            <h1 class="p-1 word-main-head">İntel Ve Amd Arasındaki Savaş</h1>
        </div>
        <div class="mt-2 word-place">
            <div class="p-3">
                <div class="mt-4">
                    <img src="~/img/resim.jpg" alt="" class="rounded w-25">
                </div>
                <div class="all-word mt-1">
                    <p>Intel ve AMD arasındaki rekabet, teknoloji dünyasının en köklü ve heyecan verici mücadelelerinden
                        biridir.
                        Bu iki yarı iletken devi, 1960’ların sonlarında kurulduklarından beri, merkezi işlem birimi
                        (CPU)
                        pazarında liderlik için kıyasıya
                        bir yarış içinde. Her iki şirket de Silikon Vadisi’nin öncülerinden Fairchild Semiconductor’dan
                        ayrılan mühendisler tarafından
                        kurulmuş, bu da onların ortak bir kökeni paylaştığını gösteriyor.

                        Ancak, yıllar içinde stratejileri, yenilikleri ve pazar yaklaşımları farklılaşarak bu rekabeti
                        şekillendirdi.</p>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-2">
                    <div class="row">

                        <div class="col-md-2">
                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="25"
                                    viewBox="0 0 27 25" fill="none">
                                    <path
                                        d="M17.0754 0.155162C15.0609 -0.45285 12.9568 0.779909 12.382 2.91074L12.0814 4.02636C11.8863 4.75151 11.533 5.42088 11.0531 5.97869L8.34785 9.12474C7.87852 9.67139 7.91543 10.5193 8.43223 11.0157C8.94902 11.5122 9.75059 11.4731 10.2199 10.9265L12.9252 7.78042C13.6688 6.91581 14.2119 5.88387 14.5125 4.76267L14.8131 3.64705C15.0029 2.93863 15.7043 2.52585 16.3793 2.72666C17.0543 2.92748 17.4393 3.66936 17.2494 4.38336L16.9488 5.49898C16.6482 6.60902 16.1736 7.6577 15.5461 8.59482C15.2719 9.00202 15.2402 9.53752 15.4564 9.98377C15.6727 10.43 16.1051 10.7089 16.5797 10.7089H23.625C24.0891 10.7089 24.4688 11.1105 24.4688 11.6014C24.4688 11.9807 24.242 12.3098 23.9203 12.4381C23.5301 12.5943 23.2348 12.9402 23.1346 13.3697C23.0344 13.7992 23.1398 14.251 23.4141 14.5801C23.5459 14.7363 23.625 14.9427 23.625 15.1714C23.625 15.6065 23.3297 15.9691 22.9395 16.0472C22.507 16.1364 22.1432 16.4544 21.9902 16.895C21.8373 17.3357 21.9059 17.8266 22.1801 18.1947C22.2908 18.3453 22.3594 18.535 22.3594 18.747C22.3594 19.1207 22.1379 19.4498 21.8215 19.5781C21.215 19.8291 20.8881 20.5208 21.0621 21.1846C21.0832 21.2571 21.0938 21.3408 21.0938 21.4244C21.0938 21.9153 20.7141 22.3169 20.25 22.3169H15.1084C14.4439 22.3169 13.79 22.1105 13.2363 21.7201L9.98262 19.4275C9.40254 19.0147 8.6168 19.182 8.22656 19.8012C7.83633 20.4204 7.99453 21.2459 8.57988 21.6587L11.8336 23.9513C12.8039 24.6374 13.943 25 15.1084 25H20.25C22.0799 25 23.567 23.4604 23.625 21.5416C24.3949 20.8889 24.8906 19.8849 24.8906 18.7525C24.8906 18.5015 24.8643 18.2617 24.8221 18.0274C25.6342 17.3747 26.1562 16.3428 26.1562 15.1826C26.1562 14.82 26.1035 14.4686 26.0086 14.1394C26.6203 13.4812 27 12.5887 27 11.6014C27 9.63235 25.4918 8.03143 23.625 8.03143H18.7576C19.0055 7.45131 19.2164 6.84888 19.3799 6.23529L19.6805 5.11967C20.2553 2.98883 19.0898 0.763175 17.0754 0.155162ZM1.6875 8.92393C0.754102 8.92393 0 9.7216 0 10.7089V23.2039C0 24.1912 0.754102 24.9888 1.6875 24.9888H5.0625C5.9959 24.9888 6.75 24.1912 6.75 23.2039V10.7089C6.75 9.7216 5.9959 8.92393 5.0625 8.92393H1.6875Z"
                                        fill="black" />
                                </svg></a>
                        </div>
                        <div class="col-md-2 like-number">
                            1
                        </div>

                        <div class="col-md-2">
                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="25"
                                    viewBox="0 0 27 25" fill="none">
                                    <path
                                        d="M9.92461 24.8448C11.9391 25.4529 14.0432 24.2201 14.618 22.0893L14.9186 20.9736C15.1137 20.2485 15.467 19.5791 15.9469 19.0213L18.6521 15.8753C19.1215 15.3286 19.0846 14.4807 18.5678 13.9843C18.051 13.4878 17.2494 13.5269 16.7801 14.0735L14.0748 17.2196C13.3312 18.0842 12.7881 19.1161 12.4875 20.2373L12.1869 21.3529C11.9971 22.0614 11.2957 22.4741 10.6207 22.2733C9.9457 22.0725 9.56074 21.3306 9.75059 20.6166L10.0512 19.501C10.3518 18.391 10.8264 17.3423 11.4539 16.4052C11.7281 15.998 11.7598 15.4625 11.5436 15.0162C11.3273 14.57 10.8949 14.2911 10.4203 14.2911L3.375 14.2911C2.91094 14.2911 2.53125 13.8895 2.53125 13.3986C2.53125 13.0193 2.75801 12.6902 3.07969 12.5619C3.46992 12.4057 3.76523 12.0598 3.86543 11.6303C3.96562 11.2008 3.86016 10.749 3.58594 10.4199C3.4541 10.2637 3.375 10.0573 3.375 9.8286C3.375 9.39351 3.67031 9.03094 4.06055 8.95284C4.49297 8.86359 4.85684 8.54564 5.00977 8.10497C5.16269 7.6643 5.09414 7.17343 4.81992 6.80528C4.70918 6.65467 4.64063 6.46501 4.64063 6.25305C4.64063 5.87931 4.86211 5.55021 5.17852 5.42191C5.78496 5.17089 6.11191 4.47921 5.93789 3.81542C5.9168 3.7429 5.90625 3.65923 5.90625 3.57556C5.90625 3.08469 6.28594 2.68307 6.75 2.68307L11.8916 2.68307C12.5561 2.68307 13.21 2.88945 13.7637 3.27992L17.0174 5.57252C17.5975 5.9853 18.3832 5.81796 18.7734 5.19879C19.1637 4.57962 19.0055 3.75406 18.4201 3.34128L15.1664 1.04868C14.1961 0.362577 13.057 0 11.8916 0L6.75 0C4.92012 0 3.43301 1.53955 3.375 3.45842C2.60508 4.11106 2.10938 5.11511 2.10938 6.24747C2.10938 6.49848 2.13574 6.73834 2.17793 6.97262C1.36582 7.62526 0.84375 8.6572 0.84375 9.81745C0.84375 10.18 0.896484 10.5314 0.991405 10.8606C0.379686 11.5188 0 12.4113 0 13.3986C0 15.3677 1.5082 16.9686 3.375 16.9686H8.24238C7.99453 17.5487 7.78359 18.1511 7.62012 18.7647L7.31953 19.8803C6.74473 22.0112 7.91016 24.2368 9.92461 24.8448ZM25.3125 16.0761C26.2459 16.0761 27 15.2784 27 14.2911L27 1.79615C27 0.808825 26.2459 0.011158 25.3125 0.011158H21.9375C21.0041 0.011158 20.25 0.808825 20.25 1.79615L20.25 14.2911C20.25 15.2784 21.0041 16.0761 21.9375 16.0761H25.3125Z"
                                        fill="black" />
                                </svg></a>
                        </div>
                        <div class="col-md-2 like-number">
                            1
                        </div>


                        <div class="col-md-2">
                            <a href="" class="yorumselection"><svg xmlns="http://www.w3.org/2000/svg" width="27"
                                    height="27" viewBox="0 0 27 27" fill="none">
                                    <g clip-path="url(#clip0_4_92)">
                                        <path
                                            d="M26.9999 12.6562C26.9999 18.7154 20.9565 23.625 13.4999 23.625C11.5434 23.625 9.68716 23.2875 8.01021 22.6811C7.38267 23.1398 6.35962 23.7674 5.14673 24.2947C3.8811 24.8432 2.35708 25.3125 0.843605 25.3125C0.500831 25.3125 0.194972 25.1068 0.0631361 24.7904C-0.0686998 24.474 0.00512828 24.1154 0.242433 23.8729L0.258253 23.857C0.274074 23.8412 0.295167 23.8201 0.326808 23.7832C0.384816 23.7199 0.474464 23.6197 0.585206 23.4826C0.801417 23.2189 1.09146 22.8287 1.38677 22.3436C1.91411 21.4682 2.41509 20.3186 2.51528 19.0266C0.933253 17.2336 -0.000145141 15.0346 -0.000145141 12.6562C-0.000145141 6.59707 6.04321 1.6875 13.4999 1.6875C20.9565 1.6875 26.9999 6.59707 26.9999 12.6562Z"
                                            fill="black" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_4_92">
                                            <rect width="27" height="27" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>
                        </div>
                        <div class="col-md-2 like-number">
                            1
                        </div>


                    </div>
                </div>
                <div class="col-md-10 d-flex justify-content-end">
                    <p class="text-white p-2" id="date">18/05/2025</p>
                </div>
            </div>
        </div>

        <div class="mt-2 word-place">
            <div class="p-3">
                <div class="mt-4">
                    <img src="~/img/profil.jpg" alt="" class="rounded" style="width: 10%; height: 10%;">
                </div>
                <div class="all-word mt-1">
                    <p>Intel ve AMD arasındaki rekabet, teknoloji dünyasının en köklü ve heyecan verici mücadelelerinden
                        biridir.
                        Bu iki yarı iletken devi, 1960’ların sonlarında kurulduklarından beri, merkezi işlem birimi
                        (CPU)
                        pazarında liderlik için kıyasıya
                        bir yarış içinde. Her iki şirket de Silikon Vadisi’nin öncülerinden Fairchild Semiconductor’dan
                        ayrılan mühendisler tarafından
                        kurulmuş, bu da onların ortak bir kökeni paylaştığını gösteriyor.

                        Ancak, yıllar içinde stratejileri, yenilikleri ve pazar yaklaşımları farklılaşarak bu rekabeti
                        şekillendirdi.</p>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-2">
                    <div class="row">

                        <div class="col-md-2">
                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="25"
                                    viewBox="0 0 27 25" fill="none">
                                    <path
                                        d="M17.0754 0.155162C15.0609 -0.45285 12.9568 0.779909 12.382 2.91074L12.0814 4.02636C11.8863 4.75151 11.533 5.42088 11.0531 5.97869L8.34785 9.12474C7.87852 9.67139 7.91543 10.5193 8.43223 11.0157C8.94902 11.5122 9.75059 11.4731 10.2199 10.9265L12.9252 7.78042C13.6688 6.91581 14.2119 5.88387 14.5125 4.76267L14.8131 3.64705C15.0029 2.93863 15.7043 2.52585 16.3793 2.72666C17.0543 2.92748 17.4393 3.66936 17.2494 4.38336L16.9488 5.49898C16.6482 6.60902 16.1736 7.6577 15.5461 8.59482C15.2719 9.00202 15.2402 9.53752 15.4564 9.98377C15.6727 10.43 16.1051 10.7089 16.5797 10.7089H23.625C24.0891 10.7089 24.4688 11.1105 24.4688 11.6014C24.4688 11.9807 24.242 12.3098 23.9203 12.4381C23.5301 12.5943 23.2348 12.9402 23.1346 13.3697C23.0344 13.7992 23.1398 14.251 23.4141 14.5801C23.5459 14.7363 23.625 14.9427 23.625 15.1714C23.625 15.6065 23.3297 15.9691 22.9395 16.0472C22.507 16.1364 22.1432 16.4544 21.9902 16.895C21.8373 17.3357 21.9059 17.8266 22.1801 18.1947C22.2908 18.3453 22.3594 18.535 22.3594 18.747C22.3594 19.1207 22.1379 19.4498 21.8215 19.5781C21.215 19.8291 20.8881 20.5208 21.0621 21.1846C21.0832 21.2571 21.0938 21.3408 21.0938 21.4244C21.0938 21.9153 20.7141 22.3169 20.25 22.3169H15.1084C14.4439 22.3169 13.79 22.1105 13.2363 21.7201L9.98262 19.4275C9.40254 19.0147 8.6168 19.182 8.22656 19.8012C7.83633 20.4204 7.99453 21.2459 8.57988 21.6587L11.8336 23.9513C12.8039 24.6374 13.943 25 15.1084 25H20.25C22.0799 25 23.567 23.4604 23.625 21.5416C24.3949 20.8889 24.8906 19.8849 24.8906 18.7525C24.8906 18.5015 24.8643 18.2617 24.8221 18.0274C25.6342 17.3747 26.1562 16.3428 26.1562 15.1826C26.1562 14.82 26.1035 14.4686 26.0086 14.1394C26.6203 13.4812 27 12.5887 27 11.6014C27 9.63235 25.4918 8.03143 23.625 8.03143H18.7576C19.0055 7.45131 19.2164 6.84888 19.3799 6.23529L19.6805 5.11967C20.2553 2.98883 19.0898 0.763175 17.0754 0.155162ZM1.6875 8.92393C0.754102 8.92393 0 9.7216 0 10.7089V23.2039C0 24.1912 0.754102 24.9888 1.6875 24.9888H5.0625C5.9959 24.9888 6.75 24.1912 6.75 23.2039V10.7089C6.75 9.7216 5.9959 8.92393 5.0625 8.92393H1.6875Z"
                                        fill="black" />
                                </svg></a>
                        </div>
                        <div class="col-md-2 like-number">
                            1
                        </div>

                        <div class="col-md-2">
                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="25"
                                    viewBox="0 0 27 25" fill="none">
                                    <path
                                        d="M9.92461 24.8448C11.9391 25.4529 14.0432 24.2201 14.618 22.0893L14.9186 20.9736C15.1137 20.2485 15.467 19.5791 15.9469 19.0213L18.6521 15.8753C19.1215 15.3286 19.0846 14.4807 18.5678 13.9843C18.051 13.4878 17.2494 13.5269 16.7801 14.0735L14.0748 17.2196C13.3312 18.0842 12.7881 19.1161 12.4875 20.2373L12.1869 21.3529C11.9971 22.0614 11.2957 22.4741 10.6207 22.2733C9.9457 22.0725 9.56074 21.3306 9.75059 20.6166L10.0512 19.501C10.3518 18.391 10.8264 17.3423 11.4539 16.4052C11.7281 15.998 11.7598 15.4625 11.5436 15.0162C11.3273 14.57 10.8949 14.2911 10.4203 14.2911L3.375 14.2911C2.91094 14.2911 2.53125 13.8895 2.53125 13.3986C2.53125 13.0193 2.75801 12.6902 3.07969 12.5619C3.46992 12.4057 3.76523 12.0598 3.86543 11.6303C3.96562 11.2008 3.86016 10.749 3.58594 10.4199C3.4541 10.2637 3.375 10.0573 3.375 9.8286C3.375 9.39351 3.67031 9.03094 4.06055 8.95284C4.49297 8.86359 4.85684 8.54564 5.00977 8.10497C5.16269 7.6643 5.09414 7.17343 4.81992 6.80528C4.70918 6.65467 4.64063 6.46501 4.64063 6.25305C4.64063 5.87931 4.86211 5.55021 5.17852 5.42191C5.78496 5.17089 6.11191 4.47921 5.93789 3.81542C5.9168 3.7429 5.90625 3.65923 5.90625 3.57556C5.90625 3.08469 6.28594 2.68307 6.75 2.68307L11.8916 2.68307C12.5561 2.68307 13.21 2.88945 13.7637 3.27992L17.0174 5.57252C17.5975 5.9853 18.3832 5.81796 18.7734 5.19879C19.1637 4.57962 19.0055 3.75406 18.4201 3.34128L15.1664 1.04868C14.1961 0.362577 13.057 0 11.8916 0L6.75 0C4.92012 0 3.43301 1.53955 3.375 3.45842C2.60508 4.11106 2.10938 5.11511 2.10938 6.24747C2.10938 6.49848 2.13574 6.73834 2.17793 6.97262C1.36582 7.62526 0.84375 8.6572 0.84375 9.81745C0.84375 10.18 0.896484 10.5314 0.991405 10.8606C0.379686 11.5188 0 12.4113 0 13.3986C0 15.3677 1.5082 16.9686 3.375 16.9686H8.24238C7.99453 17.5487 7.78359 18.1511 7.62012 18.7647L7.31953 19.8803C6.74473 22.0112 7.91016 24.2368 9.92461 24.8448ZM25.3125 16.0761C26.2459 16.0761 27 15.2784 27 14.2911L27 1.79615C27 0.808825 26.2459 0.011158 25.3125 0.011158H21.9375C21.0041 0.011158 20.25 0.808825 20.25 1.79615L20.25 14.2911C20.25 15.2784 21.0041 16.0761 21.9375 16.0761H25.3125Z"
                                        fill="black" />
                                </svg></a>
                        </div>
                        <div class="col-md-2 like-number">
                            1
                        </div>


                        <div class="col-md-2">
                            <a href="" class="yorumselection"><svg xmlns="http://www.w3.org/2000/svg" width="27"
                                    height="27" viewBox="0 0 27 27" fill="none">
                                    <g clip-path="url(#clip0_4_92)">
                                        <path
                                            d="M26.9999 12.6562C26.9999 18.7154 20.9565 23.625 13.4999 23.625C11.5434 23.625 9.68716 23.2875 8.01021 22.6811C7.38267 23.1398 6.35962 23.7674 5.14673 24.2947C3.8811 24.8432 2.35708 25.3125 0.843605 25.3125C0.500831 25.3125 0.194972 25.1068 0.0631361 24.7904C-0.0686998 24.474 0.00512828 24.1154 0.242433 23.8729L0.258253 23.857C0.274074 23.8412 0.295167 23.8201 0.326808 23.7832C0.384816 23.7199 0.474464 23.6197 0.585206 23.4826C0.801417 23.2189 1.09146 22.8287 1.38677 22.3436C1.91411 21.4682 2.41509 20.3186 2.51528 19.0266C0.933253 17.2336 -0.000145141 15.0346 -0.000145141 12.6562C-0.000145141 6.59707 6.04321 1.6875 13.4999 1.6875C20.9565 1.6875 26.9999 6.59707 26.9999 12.6562Z"
                                            fill="black" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_4_92">
                                            <rect width="27" height="27" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>
                        </div>
                        <div class="col-md-2 like-number">
                            1
                        </div>


                    </div>
                </div>
                <div class="col-md-10 d-flex justify-content-end">
                    <p class="text-white p-2" id="date">18/05/2025</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/site.js"></script>
