<div class="row">
    <div class="col-md-7 card" id="home">
        <div class="row">
            <div class="col-md-2 profil">
                <img src="~/img/profil.jpg" alt="profil-resmi" id="home-img">
            </div>
            <div class="col-md-8">
                <h2>Çınar Özgürgil</h2>
            </div>
        </div>
        <div class="description mt-2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, dolorem! Asperiores nihil mollitia
                rerum voluptatum a recusandae, eum soluta ut maiores officiis adipisci placeat eligendi eius
                corrupti ipsam tempore saepe facere error quia! Reiciendis, laborum?</p>
        </div>
    </div>

    <div class="card col-md-4 " id="home-1">
        <div class="mt-2">
            <h2>Kategoriler</h2>
            <hr>
            <p>Teknoloji</p>
            <p>Doğa</p>
            <p>Bilim</p>
        </div>
    </div>
</div>

<h1 class="mt-2">Son Yazılanlar</h1>

<div class="mt-3 p-0">
    <div class="row" id="sonyazılanlar">
        <div class="col-md-2 p-0">
            <img src="~/img/profil2.jpg" alt="profil-resmi" id="home-img">
        </div>
        <div class="col-md-10" id="sonyazılanlar-section">
            <h2>Doğa</h2>
            <p>aSDasdadsadsasdasşdaşsdjaksdjajdlajdkjadjlkjasdkja</p>
        </div>
    </div>
    <div class="row" id="sonyazılanlar">
        <div class="col-md-2 p-0">
            <img src="~/img/profil3.jpg" alt="profil-resmi" id="home-img">
        </div>
        <div class="col-md-10" id="sonyazılanlar-section">
            <h2>Doğa</h2>
            <p>aSDasdadsadsasdasşdaşsdjaksdjajdlajdkjadjlkjasdkja</p>
        </div>
    </div>
    <div class="row" id="sonyazılanlar">
        <div class="col-md-2 p-0">
            <img src="~/img/profil.jpg" alt="profil-resmi" id="home-img">
        </div>
        <div class="col-md-10" id="sonyazılanlar-section">
            <h2>Doğa</h2>
            <p>aSDasdadsadsasdasşdaşsdjaksdjajdlajdkjadjlkjasdkja</p>
        </div>
    </div>
</div>