/* _content/BlogUygulaması/Views/Shared/_Layout.cshtml.rz.scp.css */
#accountbar[b-yjd5ko2ey0] {
  width: 43px;
  height: 45px;
  flex-shrink: 0;
}

#topbar-sign[b-yjd5ko2ey0] {
  color: #ffffff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
